html,body {
    height: 100%;
    animation: scroll 70s linear infinite;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='250' height='30' patternUnits='userSpaceOnUse' patternTransform='rotate(45) scale(0.97)'%3E%3Cpath id='a' data-color='outline' fill='none' stroke='%23D1FFF2' stroke-width='5' d='M-62.5-15C-31.3-15 0-7.5 0-7.5S31.3 0 62.5 0 125-7.5 125-7.5s31.3-7.5 62.5-7.5S250-7.5 250-7.5 281.3 0 312.5 0'%3E%3C/path%3E%3Cuse xlink:href='%23a' y='15'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='30'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='45'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E"), #FFFEFA;
    color: black;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}
.animated_div{
    animation: scroll 70s linear infinite;
}
h1{
    margin:0;
}
.form-control{
    width: 50%;
    margin: 0 auto;
}
@keyframes scroll {
    100%{
        background-position:0px -3000px;
    }
}
.breadcrumb{
    background-color: black;
    border-radius: 0;
    margin-bottom: 0;
}
.top-header{
    font-size: 10rem;
    color: #ff449f;
    padding-bottom:3rem;
    padding-top:1rem;
    animation: color-change 5s infinite;
    ;
}
.mob{
    display: none;
}
.card{
    box-shadow:0px 0px 5px -1px #00ead3;
    border: 1px solid #f0f0f0;
    padding: 2rem;
    background-color: white;
    margin-top: 2rem;
    border-radius: 20px;
    transition: transform 1s;
    /* Animation */
}
.card:hover{
    box-shadow:0px 0px 10px -1px #00ead3;
    transform: scale(1.01);
}
.navbar{
    background-color: black;
    color: white;
}
.navbar a,button,btn-link{
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.navbar a:hover{
    color: #ff449f;
    background: black;
}
.btn-link{
    color: white;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap > .container {
    padding: 70px 15px 20px;
}
.footer {
    height: 10rem;
    background-color: black;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.icon-bar{
    background: #ff449f;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.not-set {
    color: #c55;
    font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after {
    content: /*"\e113"*/
    "\e151";
}
a.desc:after {
    content: /*"\e114"*/
    "\e152";
}
.sort-numerical a.asc:after {
    content: "\e153";
}
.sort-numerical a.desc:after {
    content: "\e154";
}
.sort-ordinal a.asc:after {
    content: "\e155";
}
.sort-ordinal a.desc:after {
    content: "\e156";
}
.grid-view th {
    white-space: nowrap;
}
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}
.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .mob{
        display: block;
    }
}
.pulse_img{
    animation: pulse 2s infinite;
    border-radius: 50%;
    padding: 0;
}
.nav > li > form > button.logout:focus,.nav > li > form > button.logout:hover {
    text-decoration: none;
}
.nav > li > form > button.logout:focus {
    outline: none;
}
@media screen and (max-width: 768px){
    .top-header{
        display: none;
    }
}
@keyframes color-change {
    0% {
        color: #fff5b7;
    }
    25% {
        color: #ff449f;
    }
    50% {
        color: #005f99;
    }
    75% {
        color: #00ead3;
    }
    100% {
        color: #fff5b7;
    }
}
@keyframes background-change {
    0% {
        color: #fff5b7;
    }
    50% {
        color: #ff449f;
    }
    100% {
        color: #005f99;
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@-webkit-keyframes "pulse" {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
